/* NotFound.css */
.not-found-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.not-found-heading {
  font-size: 3rem;
  color: #ff5555; /* or any other color you prefer */
}

.not-found-text {
  font-size: 1.5rem;
  color: #777;
}
